body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "head head head"
      "result canva canva";
    text-align: center;
    font-family: 'Gugi', cursive;
    background-color: #7789e317;
    color: #49506d;

}

header {
  font-size: 30px;
  grid-area: head;
}

h1 {
  color: #636c96;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

h3 {
  margin-bottom: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #636c96;
}

.content {
  background-color: #fefefe;
  margin: auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 50%;
  border-radius: 1.75rem;
  text-align: center;
  font-size: 2rem;
}

button {
  border-style: none;
  font-size: 2rem;
  font-family: 'Gugi', cursive;
  padding: 1rem;
  margin: 2rem;
  background-color: #49506d;
  color: white;
  border-radius: 1rem;
}

.results {
  background-color: #5d74db2e;
  display: none;
  grid-template-columns: repeat(4, auto);
  border-radius: 1.75rem;
  padding-left: 1.2rem;
  margin-right: 3rem;
  grid-area: result;
}

canvas {
  grid-area: canva;
}
